<div class="container-fluid">
  <div class="container">
    <form action="">
      <div class="row form-row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>First Name</label>
            <input id="fname" type="text" class="form-control" placeholder="first name" />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Last Name</label>
            <input id="lname" type="text" class="form-control" placeholder="last name" />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Date of Joining</label>
            <div class="cal-icon">
              <input id="dob" type="date" class="form-control" placeholder="date of birth" />
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Email ID</label>
            <input id="email" type="email" class="form-control" placeholder="email address" />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Mobile</label>
            <input id="mob" type="text" class="form-control" placeholder="mobile" />
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>Doctor Id</label>
            <input id="accid" type="text" class="form-control" placeholder="doctor account id" />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>City</label>
            <input id="city" type="text" class="form-control" placeholder="city" />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>State</label>
            <input id="state" type="text" class="form-control" placeholder="state" />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Speciality</label>
            <input id="spec" type="text" class="form-control" placeholder="specialties" />
          </div>
        </div>
      </div>
      <button type="submit" id="btn" class="btn btn-primary">
        Add Doctor</button>
    </form>
  </div>
</div>
