<div class="overlay" [hidden]="isAdmin">
</div>
<app-progress_card [success]="isAdmin && checkProgress" [show]="!isAdmin" [msg_text]="progressMsg" [warn]="progressWarn" (retry)="onCheckAdmin()"></app-progress_card>

<div class="dashboard"></div>
<app-header (onCollapse)="isCollapse = !isCollapse"></app-header>
<div class="container-fluid m-0">
  <div class="row m-0">
    <app-sidebar [isCollapsed]="isCollapse"></app-sidebar>
    <main class="col-md-10 ms-sm-auto col-lg-10 m-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
