<div class="container-fluid">
  <div class="container">
    <div class="h3">View Patient Record</div>
    <form class="patient__id" #patForm="ngForm" (ngSubmit)="onPatIDSubmit()">
      <input [(ngModel)]="model.patID" name="patID" #patID type="text" class="form-control"
        placeholder="Patient ID (0x00000000000000000000000000000000000000000)">
      <button type="submit" class="btn btn-primary">Consult</button>
    </form>

    <app-progress_card [show]="showProgress" [msg_text]="progressMsg" [success]="progressSuccess" [warn]="progressWarn"
      (close)="onProgressClose()"></app-progress_card>

    <div class="records my-3" *ngIf="PatientRecords.length >=1">
      <table class="table table-hover">
        <thead>
          <th>#</th>
          <th>Date</th>
          <th>Doctor</th>
          <th>view</th>
        </thead>
        <tbody>
          <tr *ngFor="let rec of PatientRecords;let i = index">
            <td>{{i + 1}}</td>
            <td>{{rec.date | date:'short'}}</td>
            <td><span class="fs-6 text-secondary">{{rec.doctor}}</span></td>
            <td>
              <button class="btn btn-success px-2 py-1" (click)="onViewRecord(rec)">
                <i class="fas fa-file-medical"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<app-record *ngIf="viewRecord"  [PatientRecord]="PatientRecord" (close)="onRecordClose()"></app-record>

</div>
