<div class="container-fluid">
  <div class="container mb-4">
    <form noValidate [formGroup]="doctorForm" (ngSubmit)="onAddDocSubmit()">
      <div class="row g-3 pb-3">
        <!--        Doctor Image -->
        <div class="col-12">
          <div class="usr-image d-flex justify-content-center flex-column align-items-center pt-3">
            <img class="rounded-circle object-fit-contain bg-white border" [ngSrc]=" image_url() || 'assets/images/doctor.png'" alt="user"
                 width="150" height="150" priority>
            <div class="img-c mb-3 mt-3 col-md-6 d-flex flex-column">
              <label class="form-label text-center fs-8 text-secondary-emphasis" for="formFile">Select Doctor image</label>
              <input class="img-chooser form-control" type="file" id="formFile" (change)="PreviewImage($event)">
            </div>
          </div>
        </div>

        <!--        First Name -->
        <div class="col-12 col-sm-6">
          <div class="form-floating">
            <input formControlName="fName" id="fName" type="text" class="form-control"
                   placeholder="first name" required/>
            <label for="fName">
              First Name
              <sup class="fas fa-asterisk text-danger fs-8"></sup>
            </label>

            @if (doctorForm.controls.fName.touched && doctorForm.controls.fName.invalid) {
              <div class="text-danger small pt-1">First name is required</div>
            }
          </div>
        </div>

        <!--        Last Name -->
        <div class="col-12 col-sm-6">
          <div class="form-floating">
            <input formControlName="lName" id="lName" type="text" class="form-control" placeholder="last name"/>
            <label for="lName">Last Name</label>
          </div>
        </div>

        <!--        Date of joining -->
        <div class="col-12 col-sm-6">
          <div class="form-floating">
            <input formControlName="doj" id="dob" type="date" class="form-control" placeholder="date of Joining"
                   required/>
            <label for="dob">Date of Joining<sup class="fas fa-asterisk fs-8 text-danger"></sup></label>
            @if (doctorForm.controls.doj.touched && doctorForm.controls.doj.invalid) {
              <div class="text-danger small pt-1">Date of joining is required</div>
            }
          </div>
        </div>

        <!--        Speciality -->
        <div class="col-12 col-sm-6">
          <div class="form-floating">
            <input formControlName="speciality" id="spec" type="text" class="form-control"
                   placeholder="specialties" required/>
            <label for="spec">Speciality<sup class="fas fa-asterisk fs-8 text-danger"></sup></label>
            @if (doctorForm.controls.speciality.touched && doctorForm.controls.speciality.invalid) {
              <span class="text-danger small">Speciality should not be empty</span>
            }
          </div>
        </div>

        <!--        Email -->
        <div class="col-12 col-sm-6">
          <div class="form-floating">
            <input formControlName="emailId" id="email" type="email" class="form-control"
                   placeholder="email address" required/>
            <label for="email">Email ID<sup class="fas fa-asterisk fs-8 text-danger"></sup></label>
            @if (doctorForm.controls.emailId.touched && doctorForm.controls.emailId.invalid) {
              <div class="text-danger small pt-1">Email is required</div>
            }
          </div>
        </div>

        <!--        Phone -->
        <div class="col-12 col-sm-6">
          <div class="form-floating">
            <input formControlName="phone" id="mob" type="text" class="form-control" placeholder="mobile"
                   required/>
            <label for="mob">Mobile<sup class="fas fa-asterisk fs-8 text-danger"></sup></label>
            @if (doctorForm.controls.phone.touched && doctorForm.controls.phone.invalid) {
              <div class="text-danger small pt-1">Phone number is required</div>
            }
          </div>
        </div>

        <!--        Account Number -->
        <div class="col-12">
          <div class="form-floating">
            <input formControlName="docId" id="docId" type="text" class="form-control"
                   placeholder="doctor account id" required/>
            <label for="docId">Doctor Id<sup class="fas fa-asterisk fs-8 text-danger"></sup></label>
            @if (doctorForm.controls.docId.touched && validateDocId()) {
              <span class="text-danger small pt-1">Doctor Id should be valid Account</span>
            }
          </div>
        </div>

        <!--        City -->
        <div class="col-12 col-sm-6">
          <div class="form-floating">
            <input formControlName="city" id="city" type="text" class="form-control" placeholder="city"
                   required/>
            <label>City<sup class="fas fa-asterisk fs-8 text-danger"></sup></label>
            @if (doctorForm.controls.city.touched && doctorForm.controls.city.invalid) {
              <span class="text-danger small pt-1">City should not be empty</span>
            }
          </div>
        </div>

        <!--        State -->
        <div class="col-12 col-sm-6">
          <div class="form-floating">
            <input formControlName="state" id="state" type="text" class="form-control"
                   placeholder="state"/>
            <label for="state">State</label>
          </div>
        </div>

      </div>
      <button type="submit" id="btn" class="btn btn-primary" [disabled]="doctorForm.invalid">
        Add Doctor
      </button>
    </form>
  </div>
</div>
