<div class="container-fluid">
  <div class="patient-record" >
    <div class="record card">
      <div class="row">
        <div class="col-md-12 d-flex flex-row justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">Patient Record</h5>
          <button type="button" class="btn-close" (click)="onClose()"></button>
        </div>
        <hr>
          <div class="col-md-12">
            <div class="col-md-12 daignosis">
              <div class="h6">Diagnosis</div>
              <hr>
                <div class="col-md-10">
                  <div class="card p-2">
                    {{Medical.diagnosis}}
                  </div>
                </div>

              </div>
              <div class="medicines my-2">
                <div class="h6">Medicines</div>
                <hr>
                  <table class="table">
                    <thead>
                      <th>#</th>
                      <th>Name</th>
                      <th>Dose</th>
                      <th>Frequency</th>
                      <th>Remarks</th>
                    </thead>
                    <tbody>
                      @for (med of Medical.medication ; track med; let i = $index) {
                        <tr>
                          <td>{{i+1}}</td>
                          <td>{{med.name}}</td>
                          <td>{{med.dose}}</td>
                          <td>{{med.frequency}}</td>
                          <td>{{med.remarks}}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6 recomnded-tests my-2">
                  <div class="h6">Recommended Tests</div>
                  <hr>
                    <table class="table">
                      <thead>
                        <th>#</th>
                        <th>Test Name</th>
                      </thead>
                      <tbody>
                        @for (test of Medical.tests ; track test; let i = $index) {
                          <tr>
                            <td>{{i+1}}</td>
                            <td>{{test.name}}</td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6 follow-up my-2">
                    <div class="h6">Follow up</div>
                    <hr>
                      {{Medical.followup}}
                    </div>
                    <div class="col-md-12 files">
                      <div class="h6 my-2">Lab Records</div>
                      <hr>
                        @for (file of Medical.files; track file;) {
                          <div class="lab-files position-relative">
                            <img [ngSrc]="file" alt="" width="150" height="150" priority>
                            <a download="labfile.jpg" [href]="file"><i class="fas fa-download"></i></a>
                          </div>
                        }
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">Close</button>
                      <button type="button" class="btn btn-primary">Print</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
