<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand text-primary fw-bold" href="#"><i class="fa-solid fa-hospital"></i>&nbsp; EHR 2.0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <a class="nav-link" href="/"> <i class="fas fa-user-injured"></i> Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'doctor'"><i class="fas fa-user-md"></i> Doctor</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink=admin> <i class="fas fa-user-shield"></i> Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fas fa-info-circle"></i> About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
