<div class="container-fluid">
  <div class="container">
    <div class="row mt-2">
      <div class="col-md-3" *ngFor="let card of Titles; index as i">
        <app-card [background]="Background[i]" [title]="Titles[i]" [image]="Images[i]" [count]="Count"></app-card>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <app-card [title]="'Account Balance'" [count]="accountBalance | currency:'ETH '"  [image]="'wallet'"></app-card>
      </div>
      <div class="col-md-6">
        <app-card [title]="'Total Earnings'" [count]="'234.76 ETH'" [image]="'money-check-alt'" [background]="'black-white'"></app-card>
      </div>
    </div>
  </div>
</div>
