<app-navigation></app-navigation>
<div class="home container-fluid">
  <div class="overlay">
    <section
      class="her-wrap js-fullheight"
      data-section="home"
      data-stellar-background-ratio="0.5"
    >
      <div class="container">
        <div
          class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
          data-scrollax-parent="true"
        >
          <div class="content col-md-6">
            <div class="subh">
              <span class="subheading">Welcome to EHR Hospital</span>
              <h1 class="mb-4">We are here <br />for your Care</h1>
              <figure class="text-start">
                <blockquote class="blockquote">
                  <p>
                    You are using a sample version of the project or full
                    project Contact :
                  </p>
                  <p>
                    <a href="mailto:tshamil90@gmail.com?subject=EHR_2.0">
                      <i class="fas fa-envelope fs-2 text-danger"></i>
                    </a>
                    <a
                      class="mx-2"
                      href="https://youtu.be/d_-pWoGgdVs"
                      target="_blank"
                    >
                      <i class="fab fa-youtube fs-2 text-danger"></i>
                    </a>
                  </p>
                </blockquote>
                <figcaption class="blockquote-footer">SHAMIL</figcaption>
              </figure>
              <p class="mb-4"></p>
              <p>
                <a
                  href="#appointment"
                  class="btn btn-primary py-3 px-4 rounded-pill"
                  aria-disabled="true"
                >
                  Make an appointment
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
